.nav-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  background-color: #272727;
  height: 66px;
  width: 100%;
}

.nav-tab__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-bottom: 1px;
  padding-left: 0;
}

.nav-tab__list li:last-of-type .nav-tab__link { 
  margin-right: 0;
}

.nav-tab__link {
  margin-right: 41px;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .nav-tab__link {
    margin-right: 25px;
    font-size: 11px;
    text-underline-offset: 1px;
  }

  .nav-tab__list {
  max-width: 214px;
  padding-bottom: 1px;
  }
}